@import url('bootstrap.min.css');
@import url('bootstrap-theme.min.css');
@import url('fonts.css');

html, body {
    height: 100%;
}

h1 {
    font-family: 'Verlag';
    font-weight: bold;
    color: #0076be;
    border-bottom: 4px solid #0076be;
    padding: 0 0 .2em;
    display: inline-block;
}

h3 {
    font-family: 'Verlag';
    color: #0076be;
    font-size: 1.3em;
}

form.code_form {
    text-align: center;
    margin: 4em 0;
}

form.code_form label {
    font-family: Verlag;
    color: #0076be;
    display: block;
    font-size: 2em;
}

form.code_form input {
    font-family: Verlag;
    border: 2px solid #0076be;
    color: #0076be;
    font-size: 1.5em;
    text-align: center;
    padding: .5em;
    width: 15em;
    text-transform: uppercase;
    margin-top: 1em;
    margin-bottom: 1em;
    max-width: 100%;
}

#wrap {
    min-height: 100%;
    padding-bottom:20px;
}

#main {
    overflow: auto;
    padding-bottom: 150px;
}

.footer {
    background: #005285;
    position: relative;
    margin-top: -150px;
    height: 150px;
    clear: both;
    padding-top: 20px;
}

.footer .icon {
    margin: 0 .5em;
}

.footer .text {
    color: #1793d1;
    font-family: Verlag;
    font-size: .85em;
    text-align: center;
    line-height: 23px;
}

.footer .text a {
    text-decoration: underline;
    color: #73bcdf;
}

.button {
    background: #0076be;
    padding: .3em .6em;
    color: white;
    font-family: Verlag;
    font-weight: 300;
    font-size: 2em;
    border: none;
    text-decoration: none;
}

a.button:hover {
    color: white;
    text-decoration: none;
}

a.button:active {
    color: white;
    text-decoration: none;
}

.warning {
    color: red;
    margin: 1em 0 3em;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    maring: 0 auto -155px;
}

.chroma_image {
    margin: 2em 0;
    display: inline-block;
    max-width: 100%;
}

.yes_no_actions, .social_login {
    margin: 1.5em 0 ;
}

.yes_no_actions a {
    margin: 10px 1em;
    min-width: 3.5em;
    display: inline-block;
}

.social_login .button {
    font-size: 1.5em;
    margin: 0 .8em;
}

/*
SOCIAL SHARES
*/
.share{
    max-width: 400px;
    margin: 0 auto 20px auto;
    text-align:center;
    padding: 0;
}
.share li{
    list-style: none;
    margin: 10px auto;
}

/* layered animation */
.layers{
    position: relative;
    width: 450px;
    height: 450px;
    margin: 0 auto;
}
.layer{
    position: absolute;
    top: 0;
    left: 0;
}
/* small media queries */
@media (max-width: 768px) {
    h1 {
        font-size: 2.2em;
    }

    .logo {
        text-align: center;
    }

    .yes_no_actions a {
        margin: 10px .5em;
    }

    .footer {
        padding-top: 5px;
    }

    .footer .line-break {
        clear: both;
        display: block;
        margin: -.5em 0;
    }

    .footer .wunderman, .footer .social {
        text-align: center;
        margin: 1em 0;
    }

    .social_login .button {
        display: inline-block;
        clear: both;
        margin: 0 0 1em;
    }

    .social_login .button:last-child {
        margin-bottom: 0;
    }
}