{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block extra_header_tags %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/booth.css' %}">

    <title>#WunderDataPortrait</title>
</head>
<body>
    {% block outer_content %}
    {% endblock %}
    {% block body_scripts%}
    {% endblock %}
    
    <div id="wrap" class="hidden-print">
        <div id="main" class="container-fluid wrapper">
            <header class="row">
                <div class="col-xs-12">
                    <div class="logo"><img src="{% static 'img/logo.jpg' %}" alt="Wunderman"></div>
                </div>
            </header>
            {% block content %}
            default content
            {% endblock %}
        </div>
    </div>
    <footer class="footer hidden-print">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-2 col-md-offset-1 wunderman"><img src="{% static 'img/logo-footer.jpg' %}" alt="Wunderman"></div>
                <div class="col-xs-12 col-md-6 text"><span class="line-break">A member of WPP Group.</span> <span class="line-break"><a href="http://www.wunderman.com/privacy-policy">Privacy statement</a></span> <span class="line-break">&copy; 2016 Wunderman. All Rights Reserved</span></div>
                <div class="col-xs-12 col-md-3 social">
                    <a href="https://twitter.com/wunderman"><img src="{% static 'img/twitter-icon.jpg' %}" alt="Twitter" class="icon"></a>
                    <a href="https://www.facebook.com/Wunderman"><img src="{% static 'img/facebook-icon.jpg' %}" alt="Facebook" class="icon"></a>
                    <a href="https://plus.google.com/116596930493913398261"><img src="{% static 'img/google-icon.jpg' %}" alt="Google Plus" class="icon"></a>
                    <a href="https://www.linkedin.com/company/wunderman"><img src="{% static 'img/linkedin-icon.jpg' %}" alt="LinkedIn" class="icon"></a>
                    <a href="https://www.instagram.com/wundermangram/"><img src="{% static 'img/instagram-icon.jpg' %}" alt="Instagram" class="icon"></a>
                </div>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    {% block extra_scripts %}
    {% endblock %}
</body>
</html>