{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{% static 'css/booth.css' %}">

    <title>SnapShot Booth</title>
</head>
<body>
    <div class="container-fluid">
        <header class="row">
            <div class="col-xs-12">
                <div class="logo"><img src="{% static 'img/logo.jpg' %}" alt="Wunderman"></div>
            </div>
        </header>
        {% block content %}
        default content
        {% endblock %}
        <footer class="row">

        </footer>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    {% block extra_scripts %}
    {% endblock %}
</body>
</html>