{% extends 'base.html' %}
{% block extra_header_tags %}
<meta property="og:url" content="{{ base_url }}/portrait/{{ code }}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="#MyDataPortrait" />
<meta property="og:description" content="Check out #MyDataPortrait #DMA2016" />
<meta property="og:image" content="{{ base_url }}{{ share_image }}" />
<meta property="fb:app_id" content="{{ fb_app_id }}" />
{% endblock %}

{% block content %}
    <img src="{{ base_url }}{{ share_image }}" alt="#MyDataPortrait">
{% endblock %}