{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-xs-12 text-center">
        <h1>#WunderDataPortrait</h1>
    </div>
</div>
    {% if photo %}
    <div class="row">
        <div class="col-xs-12 text-center">
            {% if photo.image %}
                <h3 class="isthisyou">Is this you?</h3>
                <img src="{{ photo.image.url }}" class="chroma_image" width="400">
            {% else %}
                <h3 class="warning">The image has not been uploaded yet. Please try again in 5 minutes.</h3>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            {% if photo and photo.image %}
                <div class="yes_no_actions">
                    <a href="javascript:void(0);" class="button yes_no yes">Yes</button> <a href="javascript:void(0);" class="button yes_no no">No</a>
                </div>
                <div class="social_login hidden">
                    <a href="{% url 'social:begin' 'facebook' %}?next=/photo/{{ photo.code }}/facebook" class="button">Login with Facebook</a>
                    <a href="{% url 'social:begin' 'linkedin-oauth2' %}?next=/photo/{{ photo.code }}/linkedin" class="button">Login with LinkedIn</a>
                </div>
                <div class="is_not_me hidden">
                    <h3 class="warning">Please return to the Wunderman DataBooth and talk to the photographer.</h3>
                    <a href="{% url 'booth:index' %}" class="button">Go Back</a>
                </div>

            {% else %}
                <a href="{% url 'booth:index' %}" class="button">Go Back</a>
            {% endif %}
        </div>
    </div>
    {% endif %}

    {% if error %}
        <div class="row">
            <div class="col-xs-12 text-center">
                <h3 class="warning">Sorry, but the code you entered is invalid. Please check your code and try again, or have your photo retaken at the Wunderman DataBooth.</h3>
                <a href="{% url 'booth:index' %}" class="button">Go Back</a>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'js/photo.js' %}"></script>
{% endblock %}