{% extends 'base.html' %}
{% load static %}

{% block body_scripts %}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7&appId=330530470625317";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12 text-center">
        <h1>#WunderDataPortrait</h1>
    </div>
</div>
    {% if photo_path %}
    <div class="row">
        <div class="col-xs-12 text-center">
            <img src="{{ photo_path }}" id="wundermandataportrait" width="400">
            <div class="layers">
                <canvas id="layer1" class="layer" width="450" height="450"></canvas>
                <canvas id="layer4" class="layer" width="450" height="450"></canvas>
                <canvas id="layer2" class="layer" width="450" height="450"></canvas>
                <canvas id="layer3" class="layer" width="450" height="450"></canvas>
                <canvas id="layer5" class="layer" width="450" height="450"></canvas>
            </div>
            <script>
                {% for layer in layers %}
                    var layer{{ forloop.counter }}Src = "{{ layer }}";
                {% endfor %}
            </script>
            <script type="text/javascript" src="{% static 'js/animation.js' %}"></script>
        </div>
    </div>
    <ul class="row share">
        <li class="col-xs-4 col-sm-4 col-md-4  facebook">
            <div class="fb-share-button" data-href="{{ base_url }}/portrait/{{ code }}" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fstaging.wundermandatabooth.com%2F&amp;src=sdkpreparse">Share</a></div>
        </li>
        <li class="col-xs-4 col-sm-4 col-md-4 linkedin">
            <script type="IN/Share" data-url="{{ base_url }}/portrait/{{ code }}" data-counter="top"></script>
        </li>
        <li class="col-xs-4 col-sm-4 col-md-4  twitter">
            <a href="https://twitter.com/intent/tweet?text=Check out my #WunderDataPortrait #DMA2016 {{ base_url }}{{ share_image }}" class="twitter-hashtag-button" data-show-count="false">Tweet</a>
        </li>
        <li class="col-xs-6 col-sm-6 col-md-6  twitter">
            <a href="{{ photo_path }}" download="{{ photo_path }}" title="Wunderman DataPortrait" class="button">Download</a>
        </li>
        <li class="col-xs-6 col-sm-6 col-md-6  twitter">
            <a class="button" onclick="window.print()">Print</a>
        </li>
    </ul>
    {% endif %}

    {% if no_content_error %}
        <div class="row">
            <div class="col-xs-12 text-center">
                <h3 class="warning">Sorry, but you do not have enough content on your profile to create a #WunderDataPortrait.</h3>
                <a href="{% url 'booth:index' %}" class="button">Go Back</a>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'js/photo.js' %}"></script>
{% endblock %}