{% extends 'base.html' %}
{% load static %}

{% block body_scripts %}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7&appId=330530470625317";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock %}

{% block outer_content %}
{# show the picture in the body to hide everything else #}
<img src="{{ photo_path }}" class="visible-print-block">
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-xs-12 text-center">
        <h1>#MyDataPortrait</h1>
    </div>
</div>

    <div class="row">
        <div class="col-xs-12 text-center">
            <div class="portrait_container">
                <img id="dataportrait" src="{% static 'img/transparent.png' %}" alt="#MyDataPortrait" style="max-width:500px">
            </div>

        </div>
    </div>
    <div id="share_content" class="invisible">
        <div class="row share">
            <div class="col-xs-12 share-text">
                Share your #MyDataPortrait image using Facebook/Twitter/LinkedIn
            </div>
        </div>
        <div class="row share">
            <div class="col-xs-4 facebook">
                <div class="fb-share-button" data-href="{{ base_url }}/portrait/{{ code }}" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fstaging.wundermandatabooth.com%2F&amp;src=sdkpreparse">Share</a></div>
            </div>
            <div class="col-xs-4 linkedin">
                <script type="IN/Share" data-url="{{ base_url }}/portrait/{{ code }}"></script>
            </div>
            <div class="col-xs-4 twitter">
                <a href="https://twitter.com/intent/tweet?text=Check out #MyDataPortrait #DMA2016 {{ base_url }}{{ share_image }}" class="twitter-hashtag-button" data-show-count="false">Tweet</a>
            </div>
        </div>
        <div class="row share">
            <div class="col-xs-6 twitter text-right">
                <a href="{{ photo_path }}" download="{{ photo_path }}" title="Wunderman DataPortrait" class="button">Download</a>
            </div>
            <div class="col-xs-6 twitter text-left">
                <a class="button" onclick="window.print()">Print</a>
            </div>
        </div>
    </div>

    {% if no_content_error %}
        <div class="row">
            <div class="col-xs-12 text-center">
                <h3 class="warning">Sorry, but you do not have enough content on your profile to create a #MyDataPortrait.</h3>
                <a href="{% url 'booth:index' %}" class="button">Go Back</a>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">
window.mydataportrait = {
    code: '{{ code }}'
};
</script>
<script src="{% static 'js/photo_generator.js' %}"></script>
{% endblock %}