{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            {% if message %}
                <h3 class="warning">{{ message }}</h3>
            {% endif %}
                {% if codes %}
                    <ul style="margin: 0; padding: 0; list-style: none;">
                        {% for code in codes %}
                            <li>{{ code.code }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
        </div>
    </div>

{% endblock %}