@import url('bootstrap.min.css');
@import url('bootstrap-theme.min.css');
@import url('fonts.css');

html, body {
    height: 100%;
}

h1 {
    font-family: 'Verlag';
    font-weight: 900;
    color: #0073c1;
    border-bottom: 4px solid #0073c1;
    padding: 0 0 .2em;
    display: inline-block;
}

form.code_form {
    text-align: center;
    margin: 4em 0;
}

form.code_form label {
    font-family: Verlag;
    color: #0073c1;
    display: block;
    font-size: 2em;
}

form.code_form input {
    font-family: Verlag;
    border: 2px solid #0073c1;
    color: #0073c1;
    font-size: 1.5em;
    text-align: center;
    padding: .5em;
    width: 15em;
    text-transform: uppercase;
    margin-top: 1em;
    margin-bottom: 1em;
}

#wrap {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 150px;
}

.footer {
    background: #0073c1;
    position: relative;
    margin-top: -150px;
    height: 150px;
    clear: both;
    padding-top: 20px;
}

.button {
    background: #0073c1;
    padding: .3em .6em;
    color: white;
    font-family: Verlag;
    font-weight: 300;
    font-size: 2em;
    border: none;
    text-decoration: none;
}

a.button:hover {
    color: white;
    text-decoration: none;
}

a.button:active {
    color: white;
    text-decoration: none;
}

.warning {
    color: red;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    maring: 0 auto -155px;
}