{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center">THEDATABOOTH.COM</h1>
        </div>
    </div>
    <div class="row" id="enter_code">
        <div class="col-xs-12">
            <form action="{% url 'validate_code' %}">
                {% csrf_token %}
                <div class="row text-center">
                    <div class="col-xs-12">
                        <label for="code">Please enter your code</label>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-xs-4 col-xs-offset-4">
                        <input type="text" name="code" id="code" class="form-control input-lg text-center" placeholder="A1234">
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-primary">NEXT</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row" id="confirmation">
        <div class="col-xs-12 text-center">
            <h2>Is this you?</h2>
            <div class="image_holder">
                <img src="" alt="" width="300">
            </div>
            <div class="actions">
                <button class="btn btn-primary no">NO</button>
                <button class="btn btn-primary yes">YES</button>
            </div>
            <div class="social_login">
                <a href="{% url 'social:begin' 'instagram' %}" class="btn btn-info">Login with Instagram</a>
                <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-primary">Login with Facebook</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}